<a href="https://colab.research.google.com/github/kronos44/Python/blob/main/Basic01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hola Mundo!")

Hola Mundo!

In [ ]:
# This is comment.
print("Hola Mundo!")

Hola Mundo!

In [ ]:
# This is comment.
#print("Hola Mundo!")
print("Hello Martian!")

Hello Martian!

In [ ]:
"""
This is comment.
This is comment.
This is comment.
print("Hola Mundo!")
"""
print("Hello Martian!")

Hello Martian!

In [ ]:
x=3
print(type(x))

<class 'int'>

In [ ]:
x="3"
print(type(x))

<class 'str'>

In [ ]:
#Variables
x=str(3)
y=int(3)
z=float(3)
print(type(x))
print(type(y))
print(type(z))

<class 'str'>
<class 'int'>
<class 'float'>

In [ ]:
#Single or Double Quotes

x='Tesla'
y="Spacex"
print(x)
print(y)

Tesla
Spacex

A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume). Rules for Python variables:
A variable name must start with a letter or the underscore character
A variable name cannot start with a number
A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
**Variable names are case-sensitive (age, Age and AGE are three different variables)**

In [ ]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

In [ ]:
x, y, z = "Ford", "Tesla", "Seat"
print(x)
print(y)
print(z)

Ford
Tesla
Seat

In [ ]:
x = y = z = "Tesla"
print(x)
print(y)
print(z)

Tesla
Tesla
Tesla

In [ ]:
frutas = ["manzana", "higo", "pera"]
x, y, z = frutas
print(x)
print(y)
print(z)

manzana
higo
pera

In [ ]:
print("Te quiero "+ x)
print("Te quiero "+ y)
print("Te quiero "+ z)

Te quiero manzana
Te quiero higo
Te quiero pera

In [ ]:
x = "Madrid es "
y = "maravilloso"
z =  x + y
print(z)

Madrid es maravilloso

In [ ]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

In [ ]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

Python has the following data types built-in by default, in these categories:

**Text Type:**	str
**Numeric Types:**	int, float, complex
**Sequence Types:**	list, tuple, range
**Mapping Type:**	dict
**Set Types:**	set, frozenset
**Boolean Type:**	bool
**Binary Types:**	bytes, bytearray, memoryview

In [ ]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [ ]:
a = "Hola,Mundo!"
print(len(a))

11